@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}
.main {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: $blue;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.header {
  font-size: 3em;
}
.wrapper {
  position: relative;
  &--blink {
    animation: blink .2s ease-in-out forwards;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  font-size: 7em;
  transform: translate(-50%, -50%);
}
.add-glass {
  margin-top: 16px;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;

}
.remove-glass {
  border: none;
  background: none;
  margin-top: 16px;
  text-decoration: underline;
  color: white;
}
.navbar { 
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  text-align:center;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  &--visible{
    width: 100%;
  }
}
.navbar__button {
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 16px;
  background: none;
  border: none;
  color: white;
  font-size: 1.8em;
}
.navbar__item {
  color: white;
  font-size: 1.3em;
  padding: 16px 0;
}
.navbar__list {
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar__link {
  text-decoration: none;
  color: white;
}